body {
  font-size: 16px;
  color: #fff;
  background-color: green;
  font-family: 'Oxygen', sans-serif;


 /*Gradient tło tylko dla Mozilla Firefox */
  background:-moz-linear-gradient(53% 67% 116deg, green, yellow 50%)
}

/** HEADER **/
#header-nav {
  background-color: orange;
  border-radius: 40px; /* zaokrąglenia */
  border: 20px;

  /*Animacja headera*/

-webkit-animation: cssAnimation 5s 3 ease;
-moz-animation: cssAnimation 5s 3 ease;
-o-animation: cssAnimation 5s 3 ease;
}
@-webkit-keyframes cssAnimation {
from { -webkit-transform: rotate(4deg) scale(1) skew(1deg) translate(10px); }
to { -webkit-transform: rotate(355deg) scale(1.001) skew(0deg) translate(200px); }
}
@-moz-keyframes cssAnimation {
from { -moz-transform: rotate(4deg) scale(1) skew(1deg) translate(10px); }
to { -moz-transform: rotate(355deg) scale(1.001) skew(0deg) translate(200px); }
}
@-o-keyframes cssAnimation {
from { -o-transform: rotate(4deg) scale(1) skew(1deg) translate(10px); }
to { -o-transform: rotate(355deg) scale(1.001) skew(0deg) translate(200px); }

/*Animacja kostki*/

}

      #perspektywa {
        width:100px;
        height:100px;
        margin:0 auto;
        perspective:300px;
        -webkit-perspective:300px;
      }

      #rodzic {
        width:100%;
        height:100%;
        position:relative;
        transform-style:preserve-3d;
        -webkit-transform-style:preserve-3d;
        animation:obrot 4s linear infinite;
        -webkit-animation:obrot 4s linear infinite;
      }

      #rodzic > div {
        width:100%;
        height:100%;
        position:absolute;
        background-image:radial-gradient(ellipse at center,rgba(0,255,0,0.8),rgba(0,0,0,0.8));
        box-shadow:0 0 4px red;
      }

      #przod {
        transform:translateZ(50px);
        -webkit-transform:translateZ(50px);
      }

      #tyl {
        transform:translateZ(-50px);
        -webkit-transform:translateZ(-50px);
      }

      #lewo {
        transform:rotateY(-90deg) translateZ(50px);
        -webkit-transform:rotateY(-90deg) translateZ(50px);
      }

      #prawo {
        transform:rotateY(90deg) translateZ(50px);
        -webkit-transform:rotateY(90deg) translateZ(50px);
      }

      #gora {
        transform:rotateX(-90deg) translateZ(50px);
        -webkit-transform:rotateX(-90deg) translateZ(50px);
      }

      #dol {
        transform:rotateX(90deg) translateZ(50px);
        -webkit-transform:rotateX(90deg) translateZ(50px);
      }

      #rodzic > div > div {
        position:absolute;
        width:20px;
        height:20px;
        background-color:orange;
        border-radius:25%;
        box-shadow:0 0 4px 2px red, 0 0 3px 1px green inset;
      }

      #przod > div:nth-child(1) { left:40px; top:40px; }

      #tyl > div:nth-child(1) { left:10px; top:10px; }
      #tyl > div:nth-child(2) { left:70px; bottom:10px; }

      #lewo > div:nth-child(1) { left:10px; top:10px; }
      #lewo > div:nth-child(2) { left:70px; top:10px; }
      #lewo > div:nth-child(3) { left:10px; top:40px; }
      #lewo > div:nth-child(4) { left:70px; top:40px; }
      #lewo > div:nth-child(5) { left:70px; bottom:10px; }
      #lewo > div:nth-child(6) { left:10px; bottom:10px; }
      #lewo > div:nth-child(7) { left:40px; top:60px;  }
      #lewo > div:nth-child(8) { left:40px; top:20px; }

      #prawo > div:nth-child(1) { left:10px; top:10px; }
      #prawo > div:nth-child(2) { left:70px; top:10px; }
      #prawo > div:nth-child(3) { left:70px; bottom:10px; }
      #prawo > div:nth-child(4) { left:10px; bottom:10px; }

      #gora > div:nth-child(1) { left:10px; top:10px; }
      #gora > div:nth-child(2) { left:70px; top:10px; }
      #gora > div:nth-child(3) { left:70px; bottom:10px; }
      #gora > div:nth-child(4) { left:10px; bottom:10px; }
      #gora > div:nth-child(5) { left:40px; top:40px; }

      #dol > div:nth-child(1) { left:10px; top:10px; }
      #dol > div:nth-child(2) { left:70px; top:10px; }
      #dol > div:nth-child(3) { left:10px; top:40px; }
      #dol > div:nth-child(4) { left:70px; top:40px; }
      #dol > div:nth-child(5) { left:70px; bottom:10px; }
      #dol > div:nth-child(6) { left:10px; bottom:10px; }


      @keyframes obrot
      {
        0% { transform:rotateX(0) rotateZ(0); }
        100% { transform:rotateX(360deg) rotateZ(360deg); }
      }

      @-webkit-keyframes obrot
      {
        0% { -webkit-transform:rotateX(0) rotateZ(0); }
        100% { -webkit-transform:rotateX(360deg) rotateZ(360deg); }
      }

      /*Koniec animacji kostki*/

/*#logo-img {
  background: url('../images/restaurant-logo_large.png') no-repeat;
  width: 150px;
  height: 150px;
  margin: 10px 15px 10px 0;
}*/

.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 { /* Nazwa restauracji  - Food, LLC */
  /* font-family: 'Lora', serif;  - czcionka dla nagłówka wymaga odnośnika np. https://fonts.googleapis.com */
  color: green;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px violet; /*- cień dla czcionki dla nagłówka */
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand p { /* Kosher cert */
  color: #000;
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 15px;
}
.navbar-brand p span { /* Star-K */
  vertical-align: middle;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: green;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

#phone {
  margin-top: 5px;
}
#phone a { /* Phone number */
  text-align: right;
  padding-bottom: 0;
}
#phone div { /* We Deliver */
  color: #557c3e;
  text-align: right;
  padding-right: 15px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
} 

/*Animacja przycisków menu*/

#navMenuButton {
transition:All 1s ease-in;
-webkit-transition:All 1s ease-in;
-moz-transition:All 1s ease-in;
-o-transition:All 1s ease-in;
transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
-webkit-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
-moz-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
-o-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
-ms-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
}
#navMenuButton :hover{
transform: rotate(275deg) scale(1.5) skew(-49deg) translate(1px);
-webkit-transform: rotate(275deg) scale(1.5) skew(-49deg) translate(1px);
-moz-transform: rotate(275deg) scale(1.5) skew(-49deg) translate(1px);
-o-transform: rotate(275deg) scale(1.5) skew(-49deg) translate(1px);
-ms-transform: rotate(275deg) scale(1.5) skew(-49deg) translate(1px);
}

/* END HEADER */



/* FOOTER */
.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #222;
  border-top: 0;
}
.panel-footer div.row {
  margin-bottom: 35px;
}
#hours, #address {
  line-height: 2;
}
#hours > span, #address > span {
  font-size: 1.3em;
}
#address p {
  color: #557c3e;
  font-size: .8em;
  line-height: 1.8;
}
#testimonials {
  font-style: italic;
}
#testimonials p:nth-child(2) {
  margin-top: 25px;
}
/* END FOOTER */

#about, #awards {
  font-style: italic;
  color: darkgreen;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px violet; 

}

/* HOME PAGE */
.container .jumbotron {
  box-shadow: 0 0 50px red;
  border: 2px solid black; /*kolory też można wpisywać hasztagiem np #3F0C1F;*/


}

#menu-tile, #specials-tile, #map-tile {
  height: 250px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid red;
  overflow: hidden;
}
#menu-tile:hover, #specials-tile:hover, #map-tile:hover {
  box-shadow: 0 1px 5px 1px red;
}
#menu-tile {
  background: url('../images/menu.jpg') no-repeat;
  background-position: center;
}
#specials-tile {
  background: url('../images/specials.jpg') no-repeat;
  background-position: center;
}
#menu-tile span, #specials-tile span, #map-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  background-color: orange;
  font-weight: bold;
  color: green;
  opacity: 0.66;
}
/* END HOME PAGE */

/* MENU CATEGORIES PAGE */
.category-tile { 
  position: relative;
  border: 2px solid red;
  overflow: hidden;
  width: 200px;
  height: 200px;
  margin: 0 auto 15px;
}
.category-tile span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  text-transform: uppercase;
   background-color: orange;
  font-weight: bold;
  color: green;
  opacity: 0.66;
}
.category-tile:hover {
  box-shadow: 0 1px 5px 1px red;
}

#menu-categories-title + div {
  margin-bottom: 50px;
}
/* END MENU CATEGORIES PAGE */

/* SINGLE CATEGORY PAGE */
.menu-item-tile {
  margin-bottom: 25px;
}
.menu-item-tile hr {
  width: 80%;
}
.menu-item-tile .menu-item-price {
  font-size: 1.1em;
  text-align: right;
  margin-top: -15px;
  margin-right: -15px;
}
.menu-item-tile .menu-item-price span {
  font-size: .6em;
}
.menu-item-photo {
  position: relative;
  border: 2px solid #3F0C1F; 
  overflow: hidden;
  padding: 0;
  margin-right: -15px;
  margin-left: auto;
  margin-bottom: 20px;
  max-width: 250px;
}
.menu-item-photo div {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80px;
  background-color: #557c3e;
  text-align: center;
}
.menu-item-description {
  padding-right: 30px;
}
h3.menu-item-title {
  margin: 0 0 10px;
}
.menu-item-details {
  font-size: .9em;
  font-style: italic;
}
/* END SINGLE CATEGORY PAGE */


/********** Large devices only **********/
@media (min-width: 1200px) {
  .container .jumbotron {
    background: url('../images/jumbotron_1200.gif') no-repeat;
    height: 675px;
  }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */
  #logo-img {
    background: url('../images/restaurant-logo_medium.png') no-repeat;
    width: 100px;
    height: 100px;
    margin: 5px 5px 5px 0;
  }
  /* End Header */

  /* Home Page */
  .container .jumbotron {
    background: url('../images/jumbotron_992.jpg') no-repeat;
    height: 558px;
  }
  /* End Home Page */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  /* Home Page */
  .container .jumbotron {
    background: url('../images/jumbotron_768.jpg') no-repeat;
    height: 432px;
  }
  /* End Home Page */
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  .navbar-brand p { /* Kosher cert */
    font-size: .6em;
    margin-top: 12px;
  }
  .navbar-brand p img { /* Star-K */
    height: 20px;
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }

  #call-btn > a {
    font-size: 1.5em;
    display: block;
    margin: 0 20px;
    padding: 10px;
    border: 2px solid #fff;
    background-color: #f6b319;
    color: #951c49;
  }
  #xs-deliver {
    margin-top: 5px;
    font-size: .7em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  /* End Header */

  /* Footer */
  .panel-footer section {
    margin-bottom: 30px;
    text-align: center;
  }
  .panel-footer section:nth-child(3) {
    margin-bottom: 0; /* margin already exists on the whole row */
  }
  .panel-footer section hr {
    width: 50%;
  }
  /* End Footer */

  /* Home Page */
  .container .jumbotron {
    margin-top: 30px;
    padding: 0;


  }
  #menu-tile, #specials-tile {
    width: 360px;
    margin: 0 auto 15px;
  }

  .menu-item-photo {
    margin-right: auto;
  }
  .menu-item-tile .menu-item-price {
    text-align: center;
  }
  .menu-item-description {
    text-align: center;;
  }
}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 5px;
    font-size: 6vw;
  }
  /* End Header */
  
  /* Home page */
  #menu-tile, #specials-tile {
    width: 280px;
    margin: 0 auto 15px;
  }

  .col-xxs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
  }
}



